.MainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px 32px;
  gap: 2rem;

  .GroupButton {
    display: flex;
    gap: 12px;
    width: 100%;
  }
}
